@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'antd/dist/antd.css';

body {
  font-family: 'Poppins', sans-serif !important;
  letter-spacing: -0.1px;
}
/* Login */

.bg__login {
  background: #000000;
  background-image: url("../imgs/bg__login-lg.png");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alert {
  font-size: 12px;
  padding: 10px;
}

.form-label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
}

.form-control {
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 10px;
}

.form-control::placeholder {
  color: #CACACA;
}

.text-danger {
  font-size: 12px;
}

.form-control:focus {
  box-shadow: none;
  border: 1px #ED4A49 solid;
}

.link__login {
  font-size: 11px;
  color: #F2295B;
  text-underline-offset: 4px;
}

.link__login:hover {
  color: #ED4A49;
}


/* Brand */

.brand {
  width: 100px;
  height: auto;
}